@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

@keyframes signal {
  25% {
    transform: rotateZ(29deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-29deg);
  }
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  position: relative;
}

body {
  background-color: rgb(250, 250, 250);
  position: relative;
  z-index: 0;
}

/* Background for mobile menu */
.background {
  background-color: rgb(80, 80, 80);
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.5;
  z-index: 1;
}

/* Header */
.header {
  width: 98%;
  height: 60px;
  margin: 0 auto;
  z-index: 2;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  margin: 0 30px;
}

.header__close,
.header__menu {
  display: none;
}

.header__main {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  position: relative;
}

.header__logo {
  padding-top: 10px;
}

.header__options {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: relative;
}

.header__options a {
  color: rgba(0, 0, 0, 0.507);
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s;
}

.header__options a:hover {
  color: black;
}

.dropdown__features,
.dropdown__company {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown__features {
  position: relative;
}

.dropdown__features .features__hover {
  height: 42px;
}

.dropdown__features .features__hover span,
.dropdown__features .features__hover img {
  position: relative;
  top: 30%;
  margin-right: 2px;
}

.header__options .dropdown__features:hover .features__content,
.features__content:hover {
  display: block;
}

.dropdown__features .features__content {
  background-color: rgb(255, 255, 255);
  width: 120px;
  height: 110px;
  display: none;
  position: absolute;
  top: 32px;
  right: 2px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 14px 11px 15px 0px rgba(0, 0, 0, 0.1);
}

.dropdown__features .features__content a {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  left: 10px;
  margin-top: 10px;
}

/* Animation when hovering over icon*/
.features__list:hover img,
.features__calendar:hover img,
.features__reminders:hover img,
.features__planning:hover img {
  animation-name: signal;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

.dropdown__company {
  position: relative;
}

.company__hover {
  height: 42px;
}

.dropdown__company .company__hover span,
.dropdown__company .company__hover img {
  position: relative;
  top: 30%;
  margin-right: 2px;
}

.dropdown__company:hover .company__content {
  display: block;
}

.dropdown__company .company__content {
  background-color: rgb(255, 255, 255);
  width: 75px;
  height: 85px;
  display: none;
  position: absolute;
  top: 32px;
  left: 0px;
  color: rgba(0, 0, 0, 0.507);
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 14px 11px 15px 0px rgba(0, 0, 0, 0.1);
}

.dropdown__company .company__content ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 13.5px;
  padding: 4px;
}

.dropdown__company .company__content li {
  transition: 0.4s;
}

.dropdown__company .company__content li:hover {
  color: black;
  cursor: pointer;
}

/* Header buttons */
.header__entrance {
  position: absolute;
  right: 0px;
  top: 0px;
}

.header__entrance .button__entrance {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.507);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin: 0px 10px;
  padding: 10px 0px;
  transition: 0.4s;
}

.header__entrance .register {
  width: 90px;
  color: rgba(0, 0, 0, 0.507);
  padding: 12px;
  margin-left: 20px;
  margin-right: 0px;
  border: 1px solid rgba(0, 0, 0, 0.507);
  border-radius: 15px;
  transition: 0.4s;
}

.header__entrance .button__entrance:hover,
.header .register:hover {
  color: black;
}

.header .register:hover {
  border: 1px solid black;
}

/* Main content */
main {
  width: 90%;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: start;
  gap: 10px;
  padding-top: 65px;
  margin: 0 auto;
}

.main__info {
  width: 45%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  justify-content: flex-end;
}

.info__text {
  font-family: "Epilogue", sans-serif;
}

.title {
  font-size: 55px;
  font-weight: 600;
  margin-top: 5px;
}

.title span {
  display: block;
}

.text {
  color: rgb(164, 164, 164);
  font-size: clamp(0.8125rem, 0.25rem + 1.1719vw, 1rem);
  font-weight: 600;
}

.info__button {
  background-color: black;
  width: 150px;
  height: 45px;
  color: white;
  font-family: "Epilogue", sans-serif;
  font-size: 14px;
  font-weight: 700;
  border-radius: 15px;
  transition: 0.4s;
}

.info__button:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.info__imgs {
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.info__imgs img {
  width: 15%;
  height: 43%;
  aspect-ratio: 1/1;
}

.main__img {
  object-position: bottom;
  width: auto;
  height: 450px;
}

/* Desktop */
@media (max-width: 1350px) {
  main {
    padding-top: 40px;
  }

  .main__info {
    width: 50%;
    height: 420px;
  }

  .title {
    font-size: clamp(3rem, -0.6971rem + 7.6923vw, 3.4375rem);
  }

  .text {
    font-size: clamp(0.8125rem, -0.772rem + 3.2967vw, 1rem);
  }
  .main__img {
    height: 420px;
  }
}

/* Tablet screen */
@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .header__main {
    gap: 70px;
  }

  .header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0rem 0.4rem;
  }

  .header__menu {
    display: block;
    cursor: pointer;
  }

  /* Side nav */
  .header__options {
    background-color: white;
    width: 60%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 0px;
    right: -60%;
    bottom: 0;
    z-index: 1;
    transition: 0.4s;
  }

  .header__close {
    display: none;
    align-self: flex-end;
    margin: 20px 20px;
    cursor: pointer;
  }

  /* Dropdowns for mobile */
  .dropdown__features,
  .dropdown__company {
    align-items: flex-start;
  }

  .dropdown__features .features__hover,
  .dropdown__company .company__hover {
    height: auto;
  }

  .dropdown__features,
  .dropdown__company {
    height: 16px;
    transition: height 0.9s;
  }

  .dropdown__features:hover {
    height: 130px;
  }

  .dropdown__company:hover {
    height: 110px;
  }

  .dropdown__features:hover .features__content,
  .dropdown__company:hover .company__content {
    visibility: visible;
    opacity: 1;
  }

  .dropdown__features .features__content,
  .dropdown__company .company__content {
    background-color: transparent;
    visibility: hidden;
    position: relative;
    top: 0;
    padding: 15px 15px 0px 15px;
    border-radius: 0px;
    box-shadow: none;
    opacity: 0;
  }

  .dropdown__company .company__content {
    margin-top: 5px;
  }
  .dropdown__company .company__content span {
    gap: 12px;
  }

  .header__options .li__entrance {
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    right: 8%;
    margin: 5px;
  }

  .header__entrance {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .header__entrance .button__entrance {
    width: 100%;
    margin: 6px;
  }

  /* Main */
  main {
    width: 100%;
    display: flex;
    grid-column: 1/6;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: relative;
    margin: 0;
  }

  main .main__img {
    width: 100%;
    height: 275px;
    position: relative;
    object-position: bottom;
    margin-top: 20px;
  }

  main .main__info {
    width: 100%;
    height: 55%;
    justify-content: flex-start;
    align-items: center;
    top: 0px;
    gap: 16px;
    margin: 0px 10px;
  }

  main .main__info .title {
    font-size: 28px;
  }

  main .main__info .title span {
    display: inline;
  }
  main .main__info .text {
    width: 80%;
    font-size: 16px;
    text-align: center;
  }
  main .info__imgs {
    width: 55%;
    height: 27px;
    margin: 20px 0px;
  }

  main .info__imgs img {
    width: 19%;
    height: inherit;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  main .main__img {
    width: 80%;
  }

  .info__button {
    width: 55%;
  }
}

@media (max-width: 481px) {
  main .info__imgs {
    width: 80%;
  }
}
